* {
  font-family: 'Arial', sans-serif;
}

body {
  margin-left: 20px;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #333; /* Adjusted for better contrast */
}

h2 {
  margin-top: 1em;
  font-size: 1.8em;
}

ul, ol {
  margin-top: 10px;
  margin-left: 20px;
}

li::before {
  content: '* ';
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #555; /* Adjusted for better contrast */
}
